<div class="banner">
  <h1>Welcome to Discover Cocktails</h1>
</div>

<div class="cocktail_container">
  <% @cocktails.each do |cocktail| %>
  <div class="col-sm-12 col-lg-6 ">  
    <div class="cocktail_card d-flex">
      <div class="image">
      </div>
      <div class="content">
        <h5><%= cocktail.name %></h5>
        <% cocktail.doses.each do |dose| %>
          <div class="d-flex flex-row w-100 justify-content-between">
            <p><%= dose.ingredient.name %></p>
            <p><%= dose.description %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>