<footer class="footer">
  <div class="container">
    <h5>Follow me on Social Media.</h5>
  </div>
  <div class="social-links">
    <a href="https://www.instagram.com/drinksinlondon/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/romeodewit/"><i class="fab fa-github-square"></i></a>
    <a href="https://github.com/Romeodewit"><i class="fab fa-linkedin"></i></a>
  </div>
</footer>