<div class="navbar">
  <div class="navigation">
    <div class="logo-box">
      <%= link_to image_tag("cocktails.png", alt: "cocktails logo", class: "logo"), root_path %>
    </div>
    <div class="add_cocktail">
      <p><%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-outline-warning waves-effect btn-sm" %></p>
    </div>
  </div>
</div>