.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 90px;
  height: 90px;
  .navigation {
    display: flex;
    p {
      position: relative;
      top: 11px;
    }
  }
  .logo {
    height: 70px;
    width: auto;
    
  }
}

@media only screen and (max-width: 800px) {
.navbar {
  justify-content: center;
  height: 180px
  }
}