.new_image {
  background-image: asset-url("new_cocktail_picture");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 50%;
  margin: 30px;
}

.form-box {
  width: 50%;
  padding: 30px;
}